.four-layer-all-the-time{
    background: url("/img/third-page-main-picture.png");
    height: 100vh;
    width: 100%;
  
    background-repeat: no-repeat;  /* Prevents image repetition */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}


.permis-upper-text4{
    font-family: CC Tough Talk;
    font-size: 40px;
    font-weight: 400;
    line-height: 64.81px;
    letter-spacing: 0.1em;
    text-align: left;  
    color: #FFC700;
    font-size: clamp(40px,3vw,55px) !important;
}


.layer-2-3{
    width: 100%;


display: flex;
align-items: center;
justify-content: space-evenly;


}

.layer-2-3-img{
    padding: 10px;
    border: 10px solid var(--yellow-benat);
    border-radius: 55px;

}

.layer-2-3-reg{
    width: 40%;
}

.layer-2-3 h1{
    font-family: CC Tough Talk;
font-size: clamp(20px,2vw,40px);
font-weight: 400;
line-height: 64.81px;
letter-spacing: 0.1em;
text-align: left;

}

.layer-2-3 p{
    font-family: Inter;
font-size: clamp(14px,2vw,19px);
font-weight: 400;
line-height: 22.99px;
text-align: left;


}

.nos-valeur-h1{
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: CC Tough Talk;
    height: 100%;
    font-size: 40px;
    font-weight: 400;
    line-height: 64.81px;
    letter-spacing: 0.1em;
    text-align: center;

}

.layer-3-3{
    width: 100%;

    background-color: #E6ECFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.layer-4-3{
    width: 100%;

    display: flex;

    
}


.first-4-3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.first-4-3 p{
    font-family: Inter;
font-size: 19px;
font-weight: 700;
line-height: 22.99px;
text-align: center;

}

.second-4-3{
    width: 100%;
    background: black;
}




.review-google-revi{   
    color: #fff;
    display: flex;
    width: fit-content;
    padding: 10px 30px;
    gap: 10px;
    border-radius: 102px;
    background-color: var(--rouge-benat);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;
}

.regulating-reg{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
}

.down-hold-thing{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.vsm{
    width: 60%;
    height: 30px;
}


@media (max-width : 1100px) {
    .layering3{
        flex-direction: column;
    }
    .layer-2-3-reg{
        width: 60%;
    }
    .layer-2-3 h1{
        text-align: center;
    }
}

@media (max-width: 750px) {
    .layer-4-3{
        flex-direction: column-reverse;
    }
    .down-hold-thing{
        width: fit-content;
    }
}


@media (max-width : 1200px) {

    .four-layer-all-the-time{
        /* height: 70vh; */
        background: url("/img/sadc-boutiqueb.png");
        background-repeat: no-repeat; 
        background-size: cover;
        background-position: center;
    }
    .flaflt{
        margin: auto !important;
    }
    .down-hold-thing{
        flex-direction: column;
        width: 60%;
     
        text-align: center;
    }
    .regulating-reg{
        align-items: center;
    }
    
}

@media (max-width: 900px) {

    .layer-2-3{
        height: 100%;
        flex-direction: column;
    }
    
}